[submodule "caramarSite"]
	path = caramarSite
	url = https://github.com/SarahPorzig/caramarSite
[submodule "LakesView"]
	path = LakesView
	url = https://github.com/SarahPorzig/LakesView
[submodule "reactTemplateSite"]
	path = reactTemplateSite
	url = https://github.com/SarahPorzig/reactTemplateSite.git
